body {
    background:url(../images/tank153-sea-8731258.jpg) no-repeat center center fixed;
    background-size: cover;
    opacity: 0.85;

}

h1 {
    color: white;
    font-weight: bold;
}

label {
    color: white;
    font-weight: bold;
}